body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color);
    margin: 0;
}
:root {
    --footer-color: #2F303A;
    --bright-color: #2196F3;
    --logo-color-dark: #000000;
    --main-color: #FFFFFF;
    --heading-color: #212121;
    --text-color: #757575;
    --bg-color: #F5F4FA;
    --footer-contacts-color:  rgba(255, 255, 255, 0.6);
    --hover-color: #188CE8;
    --header-border: #ECECEC;
    --img-border: #EEEEEE;
}
h1, h2, h3, h4, h5, h6, p, ul, p, a {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list-style-none {
    list-style: none;
} 
.link-style-none {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
}
.nav-link {
    color: var(--heading-color);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-link {
    color: var(--heading-color);
}
.header-link:hover, .header-link:focus {
    color: var(--bright-color);
}
nav {
    margin-right: 344px;
}
.logo {
    color: var(--bright-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.logo-dark {
    color: var(--logo-color-dark);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.logo-light {
    color: var(--main-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.contact-link {
    color: var(--text-color);
}
.contact-link:hover, .contact-link:focus {
    color: var(--bright-color);
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
}
.nav-main {
    display: flex;
    justify-content: flex-start;
    padding-top: 32px;
    padding-bottom: 32px;
}
.menu-item:not(:last-child) {
    margin-right: 50px;
}

.hero { 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto 30px;
}

.hero-button {
    color: var(--main-color);
    background-color: var(--bright-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
}
.hero-button:hover, .hero-button:focus {
    background-color: var(--hover-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 
.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
}
.advantages-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.advantage {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 270px;
}
.advantages-icon {
    width: 70px;
    height: 70px;
}
.icon-container {
    width: 270px;
    background: var(--bg-color);
    padding: 25px 100px;
    margin-bottom: 30px;
}
.advantages-heading {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--heading-color);
    margin-bottom: 10px;
    align-self: flex-start;
}
.advantages-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    align-self: flex-start;
}
.gallery {
    margin: 0 auto;
    padding-bottom: 94px;
}
.gallery-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-gallery:not(:last-child) {
    margin-right: 30px;
}
.team-section {
    background-color: var(--bg-color);
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.team-member {
    background-color: var(--main-color);
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
}
.team-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-job {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 30px;
}
.social-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 206px;
    margin: 0 32px 30px;
}
.social-media-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-color: transparent;
    color: var(--main-color);
}
.social-media-icon:not(:last-child) {
    margin-right: 10px;
}
.sm-link {
    width: 44px;
    height: 44px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sm-link:hover, .sm-link:focus {
    background-color: var(--bright-color);
}
.sm-icon {
    width: 22px;
    height: 22px;
    fill: rgba(175, 177, 184, 1);
}
.sm-link:hover .sm-icon, .sm-link:focus .sm-icon {
    fill: var(--main-color);
}
.clients-section {
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list {
    display: flex;
}
.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4%;
    padding: 16px 32px;
}

.clients:not(:last-child) {
    margin-right: 30px;
}
.client {
    width: 106px;
    height: 60px;
    fill: rgba(175, 177, 184, 1);
}
.client-link:hover .client,.client-link:focus .client  {
    fill: var(--bright-color);
}
.clients:hover {
    border-color: var(--bright-color);
}
footer {
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address {
    font-style: normal;
    margin-top: 20px;
}
.contacts {
    color: var(--footer-contacts-color);
}
.nav-link:hover, .nav-link:focus,
.contact-link:hover, .contact-link:focus {
    color: var(--bright-color);
}
.map {
    color: var(--main-color);
    padding-bottom: 9px;
}
.footer-link:not(:last-child) {
    margin-bottom: 9px;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-section {
    margin-left:  70px;
}
.sm-footer {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.17em;
    letter-spacing: 0.03;
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 20px;
}
.social-links-footer {
    display: flex;
    width: 206px;
}

.sm-link-footer {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sm-link-footer:hover,
.sm-link-footer:focus {
    background-color: var(--bright-color);
}
.sm-link-footer:hover .sm-icon,
.sm-link-footer:focus .sm-icon {
    fill: var(--main-color);
}
.portfolio {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}
header {
    border-bottom: 1px solid var(--header-border);
}
.gallery-nav {
    display: flex;
    margin-bottom: 50px;
    gap: 8px;
    justify-content: center;
}
.filter-button {
    color: var(--heading-color);
    background-color: var(--bg-color);
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 22px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.63;
}
.filter-button:hover, .filter-button:focus{
    color: var(--main-color);
    background-color: var(--bright-color);
}
.portfolio-nav {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.gallery-images {
    margin-left: 0;
}

.gallery-border {
    padding: 20px 24px;
    border: 1px solid var(--img-border);
    border-top: none;
}
.gallery-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--heading-color);
    margin-bottom: 4px;
}
.gallery-item-name {
    font-size: 16px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: var(--text-color);
}

.section-heading {
    color: var(--heading-color);
    font-size: 36px;
    font-weight: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}
